:root {
  --color-black: #000000;
  --color-gray-dark: #333333;
  --color-gray-medium: #666666;
  --color-gray-light: #EEEEEE;
  --background: white;
  --text: black;
}

[data-theme='dark'] {
  --background: black;
  --text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

.container {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.main-container {
  max-width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Diğer stil tanımlamaları buraya gelecek */ 

.page-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
} 